@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(257, 40%, 49%);
  background-image: url(../Images/bg-desktop.svg);
}
.header {
  position: absolute;
  margin: 50px;
}
.main {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 15rem;
}
.main .description {
  padding-left: 30px;
}
.main .description h1 {
  color: white;
  font-size: 50px;
  font-family: "Poppins";
}
.main .description p {
  color: white;
  font-size: 20px;
  font-weight: 400;
  font-family: sans-serif;
  padding-top: 12px;
}
.main .btn {
  text-align: center;
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 40px;
  margin-top: 15px;
  color: hsl(257, 40%, 49%);
  font-size: 20px;
  cursor: pointer;
}
.main .icon {
  display: flex;
  flex-direction: row;
  padding-top: 400px;
}
