* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(257, 40%, 49%);
  background-image: url(../Images/bg-desktop.svg);
}
.header {
  position: absolute;
  margin: 50px;
}
